* {
  margin: 0;
  padding: 0;
  /* border: 1px solid orange; */
  list-style-type: none;
  text-decoration: none;

}
/* Header */
.header-container {
  height: auto !important;
  padding: 0 7% !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.underline::after {
  content: '';
  position: absolute;
  left: 8.2%;
  display: inline-block;
  height: 25px;
  width: 84%;
  border-bottom: 1.5px solid rgb(165, 162, 162);
  margin-top: 15px;
  box-sizing: border-box;
}
/* Home */
/* Home-jumbotron */
.jumbotron {
  height: 110vh;
  padding-top: 5% !important;
  padding-right: 10% !important ;
  background-size: cover;
  margin-top: 2%;
}
.opp {
  background: rgba(255, 255, 255, 0.75);
  text-align:right;
  width: 17.5%;
  padding: 2.5%;
}
/* Home-Carousel */
.carousel {
  padding-bottom: 2% !important;
}
.carousel-item {
  max-height: 110vh !important;
}
.carousel-item img {
  margin-top: -400px;
}
.img-adjust {
  margin-top: -100px !important;
}
/* .carousel-control {
  height: 50px;
  width: 50px;
  background: #1b1b1b none repeat scroll 0 0;
  opacity: 0.5;
  border: 0 none;
  border-radius: 50%; 
  color: #fff;
  line-height: 70px;
  top: 50%;
} */
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 125px;
  color: white;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 125px;
  color: white;
}
.carousel-caption {
  margin-bottom: 25.5%;
  line-height: 70px;
}
.no-padding {
  margin-bottom: 45%;
  margin-left: -11.5%;
}
/* .right.carousel-control, .left.carousel-control {
  display: none !important;
} */

/* Footer */
.footer {
  color: black !important;
}

.footer .title {
  font-weight: bolder;
  margin-bottom: 15px;
}
.list-unstyled a {
  color: black !important;

}
/* Copyrights */
.copyrights {
  height: 20px;
  text-align: center;
  font-size: 12px;
}
/* Fonts */
.font-IBM {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
}
.font-montseratt-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.font-montseratt-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.font-size-extra-small {
  font-size: 10px;
}
.font-size-small {
  font-size: 14px;
}
.font-size-smed {
  font-size: 18px;

}
.font-size-med {
  font-size: 24px;
}
.font-size-large {
  font-size: 72px;
}
.font-size-extra-large {
  font-size: 128px;
}
.kotakhitam{
  background-color: rgba(0,0,0,0);
  width:100%;
  height:300px;
  position:absolute;
  top:0;
  z-index:10;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 3000ms
}
.kotakhitam:hover{
  background-color: rgba(0,0,0,0,0.363);
}
.tombolbuynow{
  display:none;
}
.kotakhitam:hover .tombolbuynow{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  color:white;
  font-size: 25px;
  width: 50%;
  background-color:transparent;
  transition:500ms
}
.kotakhitam:hover .tombolbuynow:hover{
  background-color:white;
  color:black;
  border: 2px solid black;
}
.kotakhitam:hover .tomboldalam {
  background-color: transparent;
  color:white;
  border:none;
}
.kotakhitam:hover  .tombolbuynow:hover .tomboldalam{
  color:black;
}